@charset "UTF-8";

html {
    font-size: 62.5%;/*- 16px × 62.5% = 10pxです*/
}


/**********共通項目ここから*****************/
body {
    font-size: 1.6rem;/*16px */
    color: #333;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    font-weight: 500; /* または normal */
    letter-spacing: 0.1em;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.wrapper {
    max-width: 860px;
    margin: 0 auto;
}

/**********共通項目ここまで******************/




/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-inline: 3%; /* 左右に余白*/
    margin-top: 3%;
    position: fixed;/*1,2,3と合わせて全画面表示*/
    top: 0;/*1*/
    left: 0;/*2*/
    z-index: 15;/*3*/
}

.site-title {
    width: 150px;
    border-radius: 20px;
}

#nav {
    margin-left: auto;
    background: lightsalmon; /* 背景をつけると確認しやすい */
    border-radius: 50px;
}


#nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#nav li {
    padding-inline: 14px;
}
#nav .nav-menu li:hover {
    border-block: 1.6px solid #333;
    border-radius: 20px;
}

#nav ul li a span {
    display: block;
}
#nav .en {
    font-weight: bolder;
}
#nav .ja {
    font-size: 1rem;
}


/*-------------------------------------------
about_プロナビとは
-------------------------------------------*/





/*-------------------------------------------
reason_選ばれる理由
-------------------------------------------*/





/*-------------------------------------------
support_サポート体制
-------------------------------------------*/




/*-------------------------------------------
teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
flow_受講の流れ
-------------------------------------------*/




/*-------------------------------------------
price_料金
-------------------------------------------*/




/*-------------------------------------------
voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
Q&A_よくある質問
-------------------------------------------*/




/*-------------------------------------------
フッター
-------------------------------------------*/









/*-------------------------------------------
SP---スマホ表示ここから
-------------------------------------------*/
@media (max-width: 900px) {



/*-------------------------------------------
SP ヘッダー
-------------------------------------------*/



/*-------------------------------------------
sp  about_プロナビとは
-------------------------------------------*/





/*-------------------------------------------
sp  reason_選ばれる理由
-------------------------------------------*/





/*-------------------------------------------
sp  support_サポート体制
-------------------------------------------*/




/*-------------------------------------------
sp  teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
sp  flow_受講の流れ
-------------------------------------------*/




/*-------------------------------------------
sp  price_料金
-------------------------------------------*/




/*-------------------------------------------
sp  voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
sp  Q&A_よくある質問
-------------------------------------------*/




/*-------------------------------------------
sp  フッター
-------------------------------------------*/





}