@charset "UTF-8";

html {
    font-size: 62.5%;
    /*16px × 62.5% = 10pxです*/
}


/**********共通項目ここから*****************/
body {
    font-size: 1.6rem;
    /*16px */
    color: #333;
    font-family: "Noto Sans JP", "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    font-weight: 500;
    /* または normal */
    letter-spacing: 0.1em;
}

main {
    margin-top: 100px;
}


li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 3%;
}

.section-title {
    padding-block: 20px;
}

/*<h2 section-title>spanの改行指示*/
.section-title span {
    display: block;
    text-align: center;
}

/*<h2 section-title>英語への指定*/
.section-title .en {
    font-size: 6.4rem;
}

/*<h2 section-title>日本語への指定*/
.section-title .ja {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
    text-align: center;
    margin: 40px 0 20px;
}

/**********共通項目ここまで******************/




/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-inline: 3%;
    /* 左右に余白*/
    /* margin-top: 3%; */
    margin: 20px 0 20px 0;
    position: fixed;
    /*1,2,3と合わせて全画面表示*/
    top: 0;
    /*1*/
    left: 0;
    /*2*/
    z-index: 15;
    /*3*/
    /* background: lightsalmon; */
}

.site-title {
    width: 150px;
    border-radius: 20px;
}

#nav {
    margin-left: auto;
    background: #F69D51;
    /* 確認用 */
    border-radius: 50px;
}


#nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#nav li {
    padding-inline: 14px;
}

#nav .nav-menu li:hover {
    border-bottom: 1.6px solid #333;
}

#nav ul li a span {
    display: block;
}

#nav .en {
    font-weight: bolder;
}

#nav .ja {
    font-size: 1rem;
}

/*  LINEリンク  */

.center-wrap {
    position: relative;
    width: 150px;
    /* 好きな大きさに調整OK */
    height: 300px;
    margin: 0 auto;
}

.center-img {
    width: 250px;
    /* 中央の画像の大きさ */
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 2;
}

.rotate-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    /* リングのサイズ */
    height: 260px;
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
    z-index: 1;
}

.ring-img {
    width: 100%;
    height: 100%;
}

.center-wrap {
    position: fixed;
    bottom: 20px;
    right: 70px;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.main-visual img {
    margin-top: 20px;
}

/* お悩み */
.trouble_inner {
    max-width: 1000px;
    margin: 100px auto;
    /* border: 1px solid red; */
}

.trouble_item {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.trouble_item p {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 20px;
    /* border: 1px solid red; */
}

.trouble_item:nth-child(2) {
    justify-content: flex-end;
    /* ← 2つ目だけ右寄せ！ */
}

.trouble_item img {
    width: 120px;
}

/*-------------------------------------------
about_プロナビとは
-------------------------------------------*/
#about {
    margin-bottom: 150px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 50%;
}

.about-img {
    width: 40%;
}

#about h3 {
    margin-bottom: 20px;
}

#about .highright {
    color: #6283C2;
}

.about-text img {
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 10px;
}

.about-text .attention {
    font-weight: bold;
}

/*-------------------------------------------
reason_選ばれる理由
-------------------------------------------*/
.reason-items {
    display: flex;
    justify-content: space-between;
}

.reason-item {
    width: 30%;
    border-radius: ;
}




/*-------------------------------------------
support_サポート体制
-------------------------------------------*/
#support {
    margin-bottom: 80px;
    background-color: #f4f7fb;
    border-radius: 0 50px 0 50px;
    padding-block: 80px;
}

#support .support-subtitile {
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.support-flex-items {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #F9F2EA;
    border-radius: 20px;
}

.support-img {
    width: 30%;
}

.support-img img {
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.support-text {
    width: 70%;
    margin-inline: 30px;
}

.text-heading {
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid #657ebe;
}

.text-heading span {
    margin-right: 16px;
    color: #657ebe;
    font-size: 2.4rem;
}

.text {
    padding-block: 16px;
}


/* .support-point {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #F69D51;
  border-radius: 50%;
  font-size: 0;
}
.support-point::before {
  content: "Point\A1";
  white-space: pre;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 1.2;
} */


/*-------------------------------------------
teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
flow_受講の流れ
-------------------------------------------*/
#flow {
    background-color: #F9F2EA;
    /*確認用*/
    padding-block: 80px;
    margin-bottom: 80px;
    border-radius: 0 50px 0 50px;
}

#flow .steps-list {
    display: flex;
}

.steps-list-up {
    display: flex;
    justify-content: center;
    margin-block: 25px;
}

.steps-list-down {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: 80px;
}

.steps-list-up li {
    width: 300px;
    padding-inline: 12px;
}

.steps-list-down li {
    width: 300px;
    padding-inline: 12px;
}

.step-media {
    border: 1px solid #333;
    border-radius: 20px 20px 0 0;
    position: relative;
    /*step-badgeの基準*/
}

.step-media img {
    border-radius: 20px 20px 0 0;
}

.step-textbox {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 0 0 20px 20px;
    padding: 16px;
    height: 200px;
}

.step-title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2rem;
}

.step-desc {
    font-size: 1.4rem;
    /* margin: 10px; */
}

/*STEP1～STEP5ここから*/
.step-badge {
    width: 70px;
    /* 円の直径 */
    height: 70px;
    background-color: #F69D51;
    /* 紫色 */
    color: #fff;
    /* 文字色 */
    border-radius: 50%;
    /* 円にする */
    display: flex;
    /* 中央寄せ */
    flex-direction: column;
    /* STEPと01を縦並び */
    align-items: center;
    /* 水平方向センター */
    justify-content: center;
    /* 垂直方向センター */
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: -25px;
    /* ← 円の半径分だけ上にずらす */
    left: -25px;
    /* ← 左にずらす（好みに調整可） */
    z-index: 2;
    /* ← 画像より前に出す */
}

.step-badge-label {
    font-size: 1rem;
}

.step-badge-num {
    font-size: 1.4rem;
}

/*STEP1～STEP5ここまで*/

/*-------------------------------------------
flow-video_受講の様子を動画で確認
-------------------------------------------*/
#flow-video {
    margin-block: 100px;
    text-align: center;
}

.flow-video-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

video {
    max-width: 560px;
    border-radius: 20px;
}

.video-card {
    display: flex;
    align-items: center;
    background: #F69D51;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.video-card p {
    color: #F9F2EA;
}

/* 左の変形ボックス */
.video-label {
    background: #657ebe;
    padding: 40px 30px;
    border-radius: 10px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
    width: 600px;
}

/* 真ん中の線 */
.video-divider {
    width: 200px;
    height: 1px;
    background: #000;
}

.play-button::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: 22px;
    top: 12px;
}


/*-------------------------------------------
price_料金
-------------------------------------------*/
#price {
    margin-bottom: 80px;
}
.price-content {
    display: flex;
    align-items: center;
}
.price-title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bolder;
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 2.4;
}
.price-left {
    background-color: #F9F2EA;
    width: 65%;
    padding: 100px 0 100px 6%;
}
.price-left li{
    margin-bottom: 5px;
}
.fa {
    margin-right: 8px;
    color: #657ebe;
}
.price-right {
    background-color: #F69D51;
    width: 48%;
    height: 300px;
    margin-left: -85px;
    padding: 5%;
}

.all {
    font-size: 2rem;
    margin-right: 10px;
    
}
.price-right .price {
    font-size: 4rem;
    border-bottom: 1px solid #000;
    margin-top: 50px;
}
.tax {
    font-size: 1.8rem;
}

.price-notes {
    font-size: 1rem;
}

/*-------------------------------------------
voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
Q&A_よくある質問
-------------------------------------------*/

.question-wrapper {
    margin-bottom: 80px;
    background-color: #f4f7fb;
    border-radius: 50px 50px;
    padding: 70px 40px;
}

.title-qa {
    text-align: center;
}

.title-qa h2 {
    color: #657ebe;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    font-size: 8rem;
    font-weight: 800;
    opacity: 0.2;
    padding: 30px 0 5px 0;
}

.title-qa p {
    display: block;
    color: #333;
    font-size: 2rem;
    font-style: normal;
    border-bottom: solid 1px;
    width: 200px;
    margin: 0 auto;
    font-weight: 800;
}

.li-title {
    color: #333;
    font-size: 1.9rem;
    font-style: normal;
    margin-top: 30px;
}

.question-answer-inner {
    max-width: 850px;
    margin-inline: auto;
}

.question-answer {
    padding: 0px 30px;
}

.question-answer ul {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 5%;
}

.question-answer ul .content {
    border-radius: 30px;
    background: #fafafa;
    box-shadow: 6px 5px 11px 0px rgba(0, 0, 0, 0.25);
    height: 250px;
    position: relative;
    display: grid;
    align-items: center;
    padding-inline: 10%;
}

.question-answer .no {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: 7%;
    right: 0;
    left: 0;
}

.question-answer .question {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.question-answer ul .btn-wrapper {
    position: absolute;
    bottom: 6%;
    right: 0;
    left: 0;
}

.question-answer .openbtn1 {
    position: relative;
    border: 3px solid #657ebe;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.question-answer .openbtn1 span {
    display: inline-block;
    position: absolute;
    left: 6px;
    height: 3px;
    border-radius: 2px;
    background: #657ebe;
    width: 45%;
}

.question-answer .openbtn1 span:nth-of-type(1) {
    top: 1.5px;
    transform: translateY(9px) rotate(-90deg);
}

.question-answer .openbtn1 span:nth-of-type(2) {
    top: 10px;
}

.question-answer .open-text {
    visibility: hidden;
}

.question-answer .open-text {
    visibility: hidden;
    padding-block: 2%;
    padding-inline: 10%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 6px 5px 11px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 250px;
    width: 100%;
    background-color: #657ebe;
    display: grid;
    align-items: center;
}

.question-answer .open-text .no {
    color: #fafafa;
}

.question-answer .open-text .question {
    color: #fafafa;
}

.question-answer .open-text .openbtn2 {
    position: relative;
    border: 3px solid #fafafa;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.question-answer .open-text .openbtn2 span {
    display: inline-block;
    position: absolute;
    left: 6px;
    height: 3px;
    border-radius: 2px;
    background: #fafafa;
    width: 45%;
}

.question-answer .open-text .openbtn2 span:nth-of-type(1) {
    top: 1.5px;
    transform: translateY(9px) rotate(-90deg);
    opacity: 0;
}

.question-answer .open-text .openbtn2 span:nth-of-type(2) {
    top: 10px;
}

.inview-balloon {
    transform: scale(0.1);
    opacity: 0;
}

/* JSでつけるクラス。ここにアニメーションを書く */
.balloon {
    animation: balloon 0.8s ease-out 0s 1 forwards;
}

@keyframes balloon {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.move-area {
    width: 100%;
    overflow: hidden;
    /* はみ出す部分を隠す */
    position: relative;
    height: 300px;
    top: 40px;
}

.move-img {
    width: 150px;
    /* イラストサイズは自由に */
    position: absolute;
    right: -100px;
    /* 開始位置（画面外） */
    animation: goLeft 9s linear infinite;
}

/* .move-img { animation-delay: 0s;}

.move-area p { animation-delay: s;}

.move-img2 { animation-delay: s;}

.move-img3 { animation-delay: s;} */


.move-area p {
    position: absolute;
    top: 60px;
    font-size: 2.5rem;
    display: block;
    border: 3px solid #ef8f3a;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    right: -510px;

    /* 開始位置（画面外） */
    animation: goLeft 9s linear infinite;
}

/* .move-area p{
  position: relative;
  padding: 2em;
  border: 3px solid #ef8f3a;
}*/
.move-area p:before,
.move-area p:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
}

.move-area p:before {
    top: -30px;
    left: -440px;
    border-style: solid;
    border-color: transparent transparent #ef8f3a transparent;
    border-width: 40px 0 30px 30px;
}

.move-area p:after {
    top: -37px;
    left: -425px;
    /* right: ; */
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 42px 0px 33px 35px;
    z-index: 10;
}

.move-img2 {
    width: 150px;
    /* イラストサイズは自由に */
    top: -30px;
    position: absolute;
    right: -660px;
    /* 開始位置（画面外） */
    animation: goLeft 9s linear infinite;
}

.move-img3 {
    width: 150px;
    /* イラストサイズは自由に */
    top: 40px;
    position: absolute;
    right: -790px;
    /* 開始位置（画面外） */
    animation: goLeft 9s linear infinite;
}


@keyframes goLeft {
    0% {
        transform: translateX(500px);
        /* 左の外から */
    }

    100% {
        transform: translateX(-190vw);
        /* 画面右の外へ */
    }

}



/*-------------------------------------------
フッター
-------------------------------------------*/









/*-------------------------------------------
SP---スマホ表示ここから
-------------------------------------------*/
@media (max-width: 930px) {
/*<h2 section-title>英語への指定*/
    .section-title .en {
    font-size: 5rem;
    }
/*<h2 section-title>日本語への指定*/
    .section-title .ja {
    font-size: 2rem;
    }

    .wrapper {
        padding-inline: 3%;
    }

    h3 {
        font-size: 2rem;
    }


    /*-------------------------------------------
SP ヘッダー
-------------------------------------------*/



    /*-------------------------------------------
sp  about_プロナビとは
-------------------------------------------*/





    /*-------------------------------------------
sp  reason_選ばれる理由
-------------------------------------------*/





    /*-------------------------------------------
sp  support_サポート体制
-------------------------------------------*/
.support-flex-items {
    flex-direction: column;
    width: 90%;
    margin: 0 auto 50px auto;
}
.support-img {
    width: 100%;
}
.support-img img {
    border-radius: 20px 20px 0 0;
}
.text-heading {
    text-align: center;
}
.text-heading span {
margin-bottom: 8px;
display: block;
text-align: center;
line-height: 2;
}
.support-text {
    width: 100%;
    padding: 20px 16px;
}


    /*-------------------------------------------
sp  teacher_講師紹介
-------------------------------------------*/




    /*-------------------------------------------
sp  flow_受講の流れ
-------------------------------------------*/
    #flow .steps-list-up,
    .steps-list-down {
        flex-direction: column;
    }

    .steps-list-up li {
        width: 90%;
        margin-bottom: 30px;
        margin-inline:auto;
    }

    .steps-list-down li {
        width: 90%;
        margin-bottom: 30px;
        margin-inline:auto;
    }

    .step-textbox {
        height: auto;
    }

    .step-title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .step-desc {
        font-size: 1.6rem;
        font-weight: normal;
    }

    .step-badge {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
    }

    .step-badge-label {
        font-size: 2rem;
    }

    .step-badge-num {
        font-size: 2rem;
    }

    /*-------------------------------------------
flow-video_受講の様子を動画で確認
-------------------------------------------*/
video {
    max-width: 300px;
}
.video-card {
    flex-direction: column;
}
/* 真ん中の線 */
.video-divider {
  width: 1px;
  height: 20px;
}
/* 上の変形ボックス */
.video-label {
  background: #657ebe;
  padding: 24px 24px;
  border-radius: 0px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  width: 280px;
}
.video-label p{
    text-align: center;
}

    /*-------------------------------------------
sp  price_料金
-------------------------------------------*/
.price-content {
    flex-direction: column;
}
.price-left {
    width: 100%;
    padding: 20px 20px;
    border-radius: 0 20px 0 0;
}
.price-title {
    line-height: 1.8;
}
.price-lists {
    font-size: 1.4rem;
}
.price-right {
    width: 100%;
    height: 150px;
    /* margin-top: 5px; */
    margin-left: 0;
    padding: 38px 30px;
    border-radius: 0 0 0 20px;
}
.price-right .price {
    font-size: 3rem;
    line-height: 1.8;
    display: inline-block;
    margin-top: 0;
}

    /*-------------------------------------------
sp  voice_受講生・卒業生の声・作品
-------------------------------------------*/




    /*-------------------------------------------
sp  Q&A_よくある質問
-------------------------------------------*/

    .question-answer {
        padding: 3%;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .question-answer ul {
        display: block;
    }

    .question-answer ul li {
        margin-bottom: 20px
    }


    .question-answer ul .content {
        box-shadow: 6px 5px 11px 5px rgba(0, 0, 0, 0.25);
    }

    /*-------------------------------------------
sp  フッター
-------------------------------------------*/





}