@charset "UTF-8";

html {
    font-size: 62.5%;
    /*- 16px × 62.5% = 10pxです*/
}


/**********共通項目ここから*****************/
body {
    font-size: 1.6rem;
    /*16px */
    color: #333;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    font-weight: 500;
    /* または normal */
    letter-spacing: 0.1em;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    margin-top: 100px;
}

/**********共通項目ここまで******************/




/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-inline: 3%;
    /* 左右に余白*/
    /* margin-top: 3%; */
    margin: 20px 0 20px 0;
    position: fixed;
    /*1,2,3と合わせて全画面表示*/
    top: 0;
    /*1*/
    left: 0;
    /*2*/
    z-index: 15;
    /*3*/
}

.site-title {
    width: 150px;
    border-radius: 20px;
}

#nav {
    margin-left: auto;
    background: lightsalmon;
    /* 背景をつけると確認しやすい */
    border-radius: 50px;
}


#nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#nav li {
    padding-inline: 14px;
}

#nav .nav-menu li:hover {
    border-block: 1.6px solid #333;
    border-radius: 20px;
}

#nav ul li a span {
    display: block;
}

#nav .en {
    font-weight: bolder;
}

#nav .ja {
    font-size: 1rem;
}

/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.main-visual img {
    margin-top: 20px;
}

/* お悩み */
.trouble_inner {
    max-width: 1000px;
    margin: 100px auto;
    /* border: 1px solid red; */
}

.trouble_item {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.trouble_item p {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 20px;
    /* border: 1px solid red; */
}

.trouble_item:nth-child(2) {
    justify-content: flex-end;
    /* ← 2つ目だけ右寄せ！ */
}

.trouble_item img {
    width: 120px;
}

/*-------------------------------------------
about_プロナビとは
-------------------------------------------*/
#about {
    margin-bottom: 150px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 50%;
}

.about-img {
    width: 40%;
}

#about h3 {
    margin-bottom: 20px;
}

#about .highright {
    color: #6283C2;
}

.about-text img {
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 10px;
}

.about-text .attention {
    font-weight: bold;
}

/*-------------------------------------------
reason_選ばれる理由
-------------------------------------------*/
.reason-items {
    display: flex;
    justify-content: space-between;
}

.reason-item {
    width: 30%;
    border-radius: ;
}




/*-------------------------------------------
support_サポート体制
-------------------------------------------*/




/*-------------------------------------------
teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
flow_受講の流れ
-------------------------------------------*/




/*-------------------------------------------
price_料金
-------------------------------------------*/




/*-------------------------------------------
voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
Q&A_よくある質問
-------------------------------------------*/
.title-qa {
    text-align: center;
}

.title-qa h2 {
    color: coral;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    font-size: 8rem;
    opacity: 0.2;
    padding: 30px 0 10px 0;
}

.title-qa p {
    color: #333;
    font-size: 1.8rem;
    font-style: normal;
}

.question-answer-inner {
    max-width: 850px;
    margin-inline: auto;
}

.question-answer {
    padding: 35px;
}

.question-answer ul {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 13%;
}

.question-answer ul .content {
    border-radius: 8px;
}



/*-------------------------------------------
フッター
-------------------------------------------*/









/*-------------------------------------------
SP---スマホ表示ここから
-------------------------------------------*/
@media (max-width: 900px) {



    /*-------------------------------------------
SP ヘッダー
-------------------------------------------*/



    /*-------------------------------------------
sp  about_プロナビとは
-------------------------------------------*/





    /*-------------------------------------------
sp  reason_選ばれる理由
-------------------------------------------*/





    /*-------------------------------------------
sp  support_サポート体制
-------------------------------------------*/




    /*-------------------------------------------
sp  teacher_講師紹介
-------------------------------------------*/




    /*-------------------------------------------
sp  flow_受講の流れ
-------------------------------------------*/




    /*-------------------------------------------
sp  price_料金
-------------------------------------------*/




    /*-------------------------------------------
sp  voice_受講生・卒業生の声・作品
-------------------------------------------*/




    /*-------------------------------------------
sp  Q&A_よくある質問
-------------------------------------------*/




    /*-------------------------------------------
sp  フッター
-------------------------------------------*/





}