@charset "UTF-8";

html {
    font-size: 62.5%;/*- 16px × 62.5% = 10pxです*/
}


/**********共通項目ここから*****************/
body {
    font-size: 1.6rem;/*16px */
    color: #333;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    font-weight: 500; /* または normal */
    letter-spacing: 0.1em;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.wrapper {
    max-width: 860px;
    margin: 0 auto;
}

/**********共通項目ここまで******************/




/*-------------------------------------------
ヘッダー
-------------------------------------------*/




/*-------------------------------------------
about_プロナビとは
-------------------------------------------*/





/*-------------------------------------------
reason_選ばれる理由
-------------------------------------------*/





/*-------------------------------------------
support_サポート体制
-------------------------------------------*/




/*-------------------------------------------
teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
flow_受講の流れ
-------------------------------------------*/




/*-------------------------------------------
price_料金
-------------------------------------------*/




/*-------------------------------------------
voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
Q&A_よくある質問
-------------------------------------------*/




/*-------------------------------------------
フッター
-------------------------------------------*/









/*-------------------------------------------
SP---スマホ表示ここから
-------------------------------------------*/
@media (max-width: 900px) {



/*-------------------------------------------
SP ヘッダー
-------------------------------------------*/



/*-------------------------------------------
sp  about_プロナビとは
-------------------------------------------*/





/*-------------------------------------------
sp  reason_選ばれる理由
-------------------------------------------*/





/*-------------------------------------------
sp  support_サポート体制
-------------------------------------------*/




/*-------------------------------------------
sp  teacher_講師紹介
-------------------------------------------*/




/*-------------------------------------------
sp  flow_受講の流れ
-------------------------------------------*/




/*-------------------------------------------
sp  price_料金
-------------------------------------------*/




/*-------------------------------------------
sp  voice_受講生・卒業生の声・作品
-------------------------------------------*/




/*-------------------------------------------
sp  Q&A_よくある質問
-------------------------------------------*/




/*-------------------------------------------
sp  フッター
-------------------------------------------*/





}